
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial,Helvetica,sans-serif;

background:var(--bg);
color:var(--text);

display:flex;
justify-content:center;

transition:.35s;

}

.container{

width:100%;
max-width:430px;

padding:36px 22px 120px;

}

.header{

display:flex;
justify-content:space-between;
align-items:flex-start;

margin-bottom:30px;

}

.greeting{

font-size:14px;
color:var(--text-secondary);

}

h1{

font-size:38px;
font-weight:800;
letter-spacing:-1px;

}

.subtitle{

margin-top:8px;
font-size:18px;
color:var(--text-secondary);

}

.screen{

display:none;

}

.active-screen{

display:block;

}